

h1 { margin-top: 0;
     font-size: 35px;
color:white;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h4 { margin-top: -33px;
     font-size: 20px;
color:white;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
padding: 5px;
}

nav {margin-top: -30px;
	padding: 5px;
	word-spacing: 5px;
	}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

html{
  scroll-behavior: smooth;
}

body{
	color: black;
  }

#header{
	height: 110px;
	background-color: #347ab1;
}

p{
	position: relative;
	bottom: 30px;
	display: inline;
	padding: 5px;
}


#Home{
	height: 1300px;
}

#About,
#Areas_of_Interest,
#Skills_Expertise{
	height: 800px;

}
  
#Home{
	background-image: url("Highline.jpg"), linear-gradient(0deg, black,black);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	margin:0px;
	text-align: center;
	
	
}

 
#About{
	background: linear-gradient(0deg, #a5d2f7,#78bdf4 );
	margin:0px;
	padding:25px;
	margin-top: 0px;
}

#Areas_of_Interest{
	background: linear-gradient(0deg, #cfe7f9,#a5d2f7 );
	padding:25px;
}

#Skills_Expertise{
	background-color: #cfe7f9;
	padding:25px;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: ##cfe7f9; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black;                  
}

.html {width: 50%; background-color: #04AA6D;} /* Green */
.css {width: 50%; background-color: #2196F3;} /* Blue */
.R{width: 85%; background-color: #04AA6D;} /* Green */
.Python{width: 70%; background-color: #2196F3;} /* Blue */
